/* NavBar Styles */
.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 1.5rem; 
    background-color: #2f855a;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

/* Navbar Content */
.navbar-content {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.navBar-logo-image {
    height: 30px;
    margin-left: 2rem;
}

/* Hamburger Container */
.navBar-hamburger-container {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    cursor: pointer;
    position: absolute;
    left: 1rem; 
    z-index: 1001;
}

/* Hamburger Button */
.navBar-hamburger {
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
    padding: 0;
}

/* Hamburger Bars */
.bar {
    background-color: rgb(0, 0, 0);
    height: 4px;
    width: 100%;
    border-radius: 2px;
}

/* Mobile Menu */
.navBar-mobile-menu {
    position: fixed;
    top: 0;
    left: -250px; 
    background-color: #2f855a;
    width: 250px;
    height: 100%;
    padding: 2rem 1rem;
    border-radius: 8px;
    box-shadow: 4px 0 10px rgba(0, 0, 0, 0.2);
    transition: left 0.3s ease;
    z-index: 1000;
}

/* When menu is open */
.navBar-mobile-menu.open {
    left: 0; 
}

/* Menu Items */
.navBar-mobile-menu ul {
    list-style: none;
    padding: 0;
}

.navBar-mobile-menu li {
    margin: 1.5rem 0;
}

.navBar-mobile-menu a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    display: block;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-align: left;
    width: 100%;
}

.username-greeting {
    margin-left: auto;
    margin-right: 20px;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
  }
  
  .username-greeting-mobile {
    padding: 16px;
    font-size: 1.5rem;
    color: #000000;
    border-bottom: 1px solid #eee;
    margin-bottom: 16px;
  }
  
  .username-greeting-mobile .username {
    color: #000000; 
    font-weight: 800;
    font-size: 1.5rem;
  }

  .navBar-mobile-menu ul li button {
    background: none;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    padding: 0;
    text-align: left;
    width: 100%;
  }

  .navBar-mobile-menu ul li button:hover {
    text-decoration: underline;
  }

  /* Logout Button Styling */
.navBar-mobile-menu ul li button.logout-button {
    color: white;
    font-size: 1.2rem;
    font-weight: normal;
}

/* Remove hover effects for the logout button */
.navBar-mobile-menu ul li button.logout-button:hover {
    text-decoration: none;
    color: white;
}

/* Mobile Styling */
@media (max-width: 768px) {
    .navbar-content {
        width: 100%;
    }

    .mobile-menu ul {
        padding-left: 0;
    }
}
